// ========================================
// Welcome
// ========================================

.c-welcome {
  max-width: 500px;
  margin: $spacer*2 auto;
  text-align: center;

  &__heading {
    font-size: 1.4rem;
  }
}
