// ========================================
// Topics
// ========================================

.show-replies {
  max-width: none;
  display: inline-block;
}

.show-replies .d-button-label {
  padding-right: 5px;
}
