// ========================================
// Topics
// ========================================

.topic-post nav.post-controls .show-replies {
  max-width: none;
  display: inline-block;
}

.show-replies .d-button-label {
  padding-right: 5px;
}

.topic-footer-main-buttons {
  justify-content: space-between;
}