// ========================================
// Welcome
// ========================================

.c-welcome {
  margin: $spacer 0;
  max-width: 550px;

  &__heading {
    font-size: 1.25rem;
  }
}
