<header id="cm-header" style="background:#57dbe7;height:100px;">
  
  {{#if this.user}}
  <img src="{{this.userAvatar}}" />
  {{/if}}

  {{#if this.notifications}}
  <div>Notifications: {{notifications}}</div>
  {{/if}}
  
</header>